<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ansible Nginx Role</title>
  </head>

  <body>
    <h1>{{ nginx_index_title }}</h1>

    <p>...this is Ansible speaking</p>

    <p><i>Served by Nginx on {{ ansible_facts.distribution }} {{ ansible_facts.distribution_version }} ({{ ansible_facts.os_family }})</i></p>
  </body>
</html>
